/* image */
img {
    display: inline;
}

/* modal */
.modal-dialog {
    box-shadow: none;
}

ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* form */
.display_data p {
    font-size: 20px;
    margin-bottom: 0;
}

.display_data .form-group:last-child {
    margin-bottom: 0;
}

/* button delete */
.tabs-animated .delete .nav-link::before {
    background-color: #d92550; /*--danger*/
}

/* pagination */
nav[aria-label='Pagination Navigation'] span[aria-current='page'] > span {
    background-color: #3f6ad8f0 !important;
    border: 1px solid #3f6ad8 !important;
    /*opacity: 0.9;*/
    color: #fff;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

nav[aria-label='Pagination Navigation'] a {
    text-decoration: none;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

nav[aria-label='Pagination Navigation'] a:first-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

nav[aria-label='Pagination Navigation'] a:last-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

nav[aria-label='Pagination Navigation'] a:hover {
    background-color: #e9ecef !important;
    color: #0056b3;
}

/* icon setting */
.ui-theme-settings .btn-open-options {
    bottom: 48px;
}

/* ----------------dashboard------------------ */
h4,
h5,
h6,
h1,
h2,
h3 {
    margin: 0;
}
ul,
ol {
    margin: 0;
}
p {
    margin: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
}
body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul,
label {
    margin: 0;
    padding: 0;
}
body a:hover {
    text-decoration: none;
}
.wrapper {
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
}
/*--market--*/
.market-updates {
    display: flex;
    margin: 1.5em 0;
}
.market-update-block {
    padding: 2em 2em;
    background: #999;
    height: 180px;
}
.market-update-block h3 {
    color: #fff;
    font-size: 2em;
}
.market-update-block h4 {
    font-size: 1.2em;
    color: #fff;
    margin: 0.3em 0em;
}
.market-update-block p {
    color: #fff;
    font-size: 0.8em;
    line-height: 1.8em;
}
.market-update-block.clr-block-1 {
    background: #53d769;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-block.clr-block-2 {
    background: #fc3158;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-block.clr-block-3 {
    background: #147efb;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-block.clr-block-4 {
    background: #2a2727;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-block.clr-block-1:hover {
    background: #8b5c7e;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-block.clr-block-2:hover {
    background: #8b5c7e;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-block.clr-block-3:hover {
    background: #8b5c7e;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-block.clr-block-4:hover {
    background: #8b5c7e;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-right i.fa.fa-users {
    font-size: 3em;
    color: #fff;
    text-align: left;
}
.market-update-right i.fa.fa-eye {
    font-size: 3em;
    color: #fff;
    text-align: left;
}
.market-update-right i.fa.fa-usd {
    font-size: 3em;
    color: #fff;
    text-align: left;
}
.market-update-right i.fa.fa-shopping-cart {
    font-size: 3em;
    color: #fff;
    text-align: left;
}
.market-update-left {
    padding: 0px;
}
.market-update-right {
    padding-left: 0;
}
.market-update-gd {
    float: left;
    width: 50%;
    margin: 1em 0;
}

.title_thongke {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.list_view {
    margin: 10px 0;
    color: #fff;
}
.list_view a {
    font-weight: 400;
    color: orangered;
}
